<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yiqixue.yiqixue.houtai.htDao.QuestionDao">
    <select id="findAllResource" resultType="yiqixue.yiqixue.houtai.htModel.Question">
        select * from Question
    </select>

    <select id="findAllByQid" resultType="yiqixue.yiqixue.houtai.htModel.Question">
        select * from Question where qid=#{qid}
    </select>

    <delete id="deleteByQid" parameterType="yiqixue.yiqixue.houtai.htModel.Question">
        delete from Question where qid=#{qid}
    </delete>

</mapper>